/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Increased padding for slightly larger navbar */
    background-color: floralwhite; /* Red tone for blood donation theme */
    color: black;
}

.logo {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo img {
    width: 300px; /* Adjust the width as needed */
    margin-right: 10px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
    color: red; /* Change color on hover */
}

/* Login Page Navigation Styles */
.login-nav {
    display: flex;
    align-items: center;
}

.login-nav a {
    margin-right: 20px;
}

/* Login Form Styles */
/* Login Form Styles */
form {
    max-width: 450px;
    width: 90%; /* Adjusted width to 100% */
    margin: auto;
    padding: 40px; /* Increased padding for the form */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin: 10px 0; /* Adjusted margin */
}


label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff3333; /* Red color for the button */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e60000; /* Darker red on hover */
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #d9534f; /* Red tone for blood donation theme */
    color: #fff;
    padding: 15px 0;
    margin-top: auto;
}

footer p {
    color: white;
}

.message-container {
    text-align: center;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.success-message {
    color: red;
    font-weight: bold;
    background-color: navajowhite;
    padding: 10px;
}
